.project
local_settings.py
.pydevproject
*.log
*.pid
*.pyc
*.db
.DS_Store
/static
/sitestatic
/thumbs/
/uploaded/
.coverage
.fab.*
.fab.prod
.noseids
/*.json
/*.local
/*-extract.zip
nosetests.xml
/scratch
