{% extends "no_bottom_layout.html" %}
{% load staticfiles %}

{% block style_base %}
    <link href="{% static "theme/bootstrap_custom.css" %}" rel="stylesheet" />
    <!--[if lte IE 8]>
    <link href='http://fonts.googleapis.com/css?family=Marvel:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Marvel:400italic, rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Marvel:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Marvel:700italic' rel='stylesheet' type='text/css'>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Marvel:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "theme/geonode.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "theme/site.css" %}" media="screen" />    
    <link rel="stylesheet" type="text/css" href="{% static "theme/manual.css" %}"/>
{% endblock %}

{% block content %}
<div id="manual" class="row">
    <div class="span4">
        <div id="contents-holder" class="box">
            
        </div>
    </div>
    <div class="span8">
        <div class="box contents">
            <h1>MapStory Manual</h1>
            {{ content }}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
$(function() {
    var x = $('#contents').remove();
    x.appendTo($("#contents-holder"));

    $("#contents .reference.internal").click(function() {
        $('#contents-holder .hover').removeClass('hover');
        $(this).addClass('hover');
    });
    $("#manual .contents a.reference.external").attr('target','_');
        
    $(".section").hover(function() {
        var ref = $(this).find('.toc-backref').attr('href');
        $('#contents-holder .hover').removeClass('hover');
        if (ref) {
            $(ref).addClass('hover');
        }
    });
})
</script>
{% endblock %}
